p {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(31, 31, 31);
}



.daftarsewa{
    display: flex;
}

div#daftarsewa{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); /* this adds the "card" effect */
    padding: 16px;
    background-color: rgb(161, 67, 67);
    border-radius: 20px;
    
}

div#pembayaran{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); /* this adds the "card" effect */
    padding: 16px;
    background-color: rgb(161, 67, 67);
    border-radius: 20px;
    
}

div.datadiri{
    flex: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); /* this adds the "card" effect */
    padding: 16px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
}