body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

#form{
    padding: 16px;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    font-size: 16px;
   
}

.bayar{
    flex: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); /* this adds the "card" effect */
    padding: 16px;
    background-color: white;
    border-radius: 20px;
    display: flex;
}

#mobilinfo{
    flex: 50%;
}

#bayarinfo{
    flex: 50%;
}

input#submit {
    height: auto;
    width: 250px;
    padding: 10px;
    font-size: 18px;
    border-radius: 30px;
    font-weight: bold;
    background-color: white;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    color: dodgerblue;
}

input{
    border-radius: 8px;
    width: 250px;
    height: 30px;
    background-color:  rgba(0, 0, 0, 0.08);
    border: none;
}

input:focus{
    padding-left: 10px;
    border: 2px solid dodgerblue;  
    background-color: rgba(0, 0, 0, 0.05);  
    outline: none !important;
}


body{
    height: 100%;
    background-color: whitesmoke;
}

span#hargamobil{
    color: green;
}

h1{
    text-align: center;
}

#navbarbawah{
    height: 70px;
    width: 98%;
    bottom: 0;
    background-color: dodgerblue;
    border-radius: 25px;
    margin-right: 100px;
    padding-top: 10px;
    padding-left: 20px;
    margin: 20px 0px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#navbarbawah p{
    width: 250px;
    margin-right: 0;
    position: absolute;
}