* {
    box-sizing: border-box;
   
  }

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    height: auto;
    width: 100%;
}

.tombol {
    width: 250px;
    height: 80px;
    border-radius: 80px;
    font-size: 24px;
    background-color: dodgerblue;
    color: white;
    border: none;
}

.kolom{
    display: flex;
}

.kanan{
    flex: 60%;
}

.kiri{
    flex: 40%;
}